In [1]:
import pandas as pd

In [2]:
labels = ['student_act', 'committee', 'in-person_event', 'virtual_event', 'log_giving']
sum_stat = [2.0, 1.5, 6.0, 9.0, 4.4]

In [3]:
labels

['student_act', 'committee', 'in-person_event', 'virtual_event', 'log_giving']

In [4]:
sum_stat

[2.0, 1.5, 6.0, 9.0, 4.4]

In [5]:
mydata = pd.DataFrame(zip(labels, sum_stat))
mydata.columns = ['Variable', 'n']
mydata

          Variable    n
0      student_act  2.0
1        committee  1.5
2  in-person_event  6.0
3    virtual_event  9.0
4       log_giving  4.4

In [6]:
# Create a weight vector that's the same length as your number of variables
w = [1.0, 1.0, 1/2, 1/3, 1.0]
w

[1.0, 1.0, 0.5, 0.3333333333333333, 1.0]

In [7]:
# Dot product n * w
mydata['n'] @ w

13.9

In [8]:
# Check the work
2.0 + 1.5 + 6.0/2 + 9.0/3 + 4.4

13.9

In [9]:
# This works just as well with the raw data; let's have a couple made up people
john = ['John', 2.0, 1.5, 6.0, 9.0, 4.4]
jane = ['Jane', 0.0, 0.0, 2.0, 2.0, 8.0]

myrawdata = pd.DataFrame([john, jane])
myrawdata.columns = ['name', *labels]
myrawdata

   name  student_act  committee  in-person_event  virtual_event  log_giving
0  John          2.0        1.5              6.0            9.0         4.4
1  Jane          0.0        0.0              2.0            2.0         8.0

In [10]:
# Now we want to extract student_act through log_giving, and do the same multiplication operation with the weights
myrawdata[labels]

   student_act  committee  in-person_event  virtual_event  log_giving
0          2.0        1.5              6.0            9.0         4.4
1          0.0        0.0              2.0            2.0         8.0

In [11]:
weighted_sum_stats = myrawdata[labels] @ w
weighted_sum_stats

0    13.900000
1     9.666667
dtype: float64

In [12]:
# Check the work
# We know 13.9 is right
0 + 0 + 2/2 + 2/3 + 8

9.666666666666666